body{
    background: #FFA07A;
    font-family: "Helvetica", sans-serif;
    font-weight: 800;
}

.content {
    margin-bottom: 100px;
}
#mainNavbar {
    font-size: 1.3rem;
    font-weight: 1200;
}

#mainNavbar .nav-link {
    color: palegreen;
}

#mainNavbar .navbar-link:hover {
    color: palegreen;
}

#mainNavbar .navbar-brand {
    color: palegreen;
    font-size: 1.3rem;
}

#headingGroup span {
    color: palegreen;
}

#headingGroup h1 {
    font-weight: 900;
    color:rgb(247, 245, 79);
    font-size: 2.5rem;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 900;
        color:rgb(247, 245, 79);
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 2.9rem;
    color: palegreen;
}

h3 {
    font-size: 1.3rem;
    color: palegreen;
}

h4 {
    font-size: 5rem;
    color: palegreen;
}

h5 {
    font-size: 1.35rem;
    color: rgb(248, 5, 86);
}


h6 {
    color: black;
    font-size: 3rem;
}

.col-md-6 text-center order-1 order-md-2 {
    background-image: url(imege/taco2.jpg)
}

.bottom {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    color: rgb(247, 245, 79);
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background-image: url(imege/contactus.png);
}

.form {
    display: flex;
}
.contact-left{
    flex-basis: 50%;
    padding: 10px;
}

h6{
    margin-bottom: 10px;
}
.container p {
    margin-bottom: 40px;   
}

.input-row {
    display:flexbox;
    border: 0px solid black;
    margin: 0 0 0 0;
    padding: 10px;

  }
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 1px;
}

.footer ul li a:hover {
    opacity: 1;
}


